body {  
    /* max-width: 1000px;
    height: 100vh; */
}

#below-nav{
  margin-top: 65px;
}


/* responsive: width, font-size */
.rules-btn {
  position: absolute;
  top: 70px;
  left: 10px;
  color: white;
  /* font-size: 1.5vw;a */
  background-color: rgb(124, 78, 124);
}
.rules-btn:hover{
background-color: rgb(115, 95, 115);
}
.rules-btn:active{
  background-color: rgb(93, 73, 93);
}

#rules {
  position: absolute;
  z-index: 100;
  top: 62px;
  left: 0;
  background-color: #333;
  color: white;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

#rules.show {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}



#game-title{
  /* margin-top: 65px; */
  width: 100vw;
  font-size: 4vw;
  text-align: center;
}


/* responsive: height, width, font-size, border-width */
#count{
  position: absolute;
  top: 70px;
  right: 10px;
  /* margin-top: 65px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* height: 9vh;
  width: 9vh; */
  /* font-size: 2vw; */
  border: 1vh solid rgb(124, 78, 124);
}

#kitty-paw{
  position: absolute;
  border-radius: 50%;
  transform: translate(0%, 50%);
  z-index: 100;
}

.myRow{
  justify-content: center;
  /* border: yellowgreen 2px solid; */
  display: flex;
  justify-content: center;
}
.row-top {
  justify-content: space-between;
  padding-top: 65px;
  /* border: black 6px solid; */
}

/* responsive: height, width, margin, border-width */
.myBtn {
  position: relative; /* need to center pics */
  display: inline-block;
  margin: 10px;
  border: 10px solid black;
  border-radius: 20%;
}

/* centering magig from: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
/* responsive: height, width */
.kitty-pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.correct-sequence {
  background-color: green;
  opacity: 0.8;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* Have to use . (not #) for kitties so pressed class can override color */
.tolstoy {
  background-color: red;
}
.athena {
  background-color: green;
}
.circe {
  background-color: blue;
}
.galadriel {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* sammy */
/* responsive: height, width */
#restart-pic {
  position: relative;
  cursor: pointer;
  left: 10px;
}

/* responsive: font-size,  */
#restart {
  position: relative;
  left: 10px;
  width: 8vw;
  text-align: center;
  cursor: pointer;

  transform: translate(0%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.428);
  /* border: red solid 2px; */
}

/* kitty-paw = success, flashes on briefly when correct sequences is entered */
#kitty-paw {
  visibility: hidden;
}

#kitty-paw.correct-sequence {
  visibility: visible;
}


@media (orientation: portrait) {
  .rules-btn{
    font-size: 2.5vw;
    width: 0.8ww;
  }

  #count {
    height: 8vw;
    width: 8vw;
    font-size: 3.5vw;
    border-width: 1vw;
  }

  /* sammy pic */
  #restart-pic {
    height: 10vw;
    width: 10vw;
  }
  #restart {
    font-size: 3vw;
  }

  #kitty-paw {
    height: 35vw;
    width: 35vw;
  }
  .myBtn {
    height: 35vw;
    width: 35vw;
    margin: 1vw;
    border-width: 1vw;
  }
  /* 4 middle kitties */
  .kitty-pic {
    height: 30vw;
    width: 30vw;
  }
}

@media (orientation: landscape) {
  .rules-btn{
    font-size: 2.5vh;
  }
  
  #count {
    height: 9vh;
    width: 9vh;
    font-size: 3.5vh;
    border-width: 1vh;
  }

        /* #restart-pic {
          height: 10vw;
          width: 10vw;
        } */
  /* sammy pic */
  #restart-pic {
    height: 10vh;
    width: 10vh;
  }
  #restart {
    font-size: 2vh;
  }
  
  #kitty-paw {
    height: 25vh;
    width: 25vh;
  }
  .myBtn {
    height: 25vh;
    width: 25vh;
    margin: 1.5vh;
    border-width: 1vh;
  }
  /* 4 middle kitties */
  .kitty-pic{
    height: 20vh;
    width: 20vh;
  }
}