body {  
  background-color: rgb(0, 0, 78);
}

.navbar {
  padding: 0;
  display: block;
}

.nav-item {
  font-size: 1.1rem;
}

#below-nav{
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 255, 255);
  /* top: 70px; */
  /* margin-top: 70px; */
  /* border: 2px solid red; */
  padding: 20px; /* move everything off walls */
  padding-top: 70px;
}

#kitty-paw{
  visibility: hidden;
}

#kitty-paw.correct-sequence{
  visibility: visible;
}

/* sammy */
/* responsive: height, width */
#restart-pic{
}
#restart{
  text-align: center;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.428);
}

#game-title{
  width: 70vw;
  font-size: 4vw;
  text-align: center;
}


/* responsive: top, right, height, width, font-size, border-width */
#counter-box{
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 5%;
  border: 1vh solid violet;
}
#count{
  /* height: 20px;
  width: 20px; */
  font-size: 2vw;
}

#kitty-paw{
  position: absolute;
  border-radius: 50%;
  transform: translate(0%, 50%);
  z-index: 100;
}

.myRow{
  justify-content: center;
  /* border: yellowgreen 2px solid; */
  display: flex;
  justify-content: center;
}
.row-top {
  justify-content: space-between;
  /* border: black 6px solid; */
}

/* responsive: height, width, margin, border-width */
.myBtn {
  position: relative; /* need to center pics */
  display: inline-block;
  margin: 10px;
  border: 10px solid black;
  border-radius: 20%;
}

/* centering magig from: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
/* responsive: height, width */
.simon-kitty-pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.correct-sequence {
  background-color: green;
  opacity: 0.8;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* Have to use . (not #) for kitties so pressed class can override color */
.tolstoy {
  background-color: red;
}
.athena {
  background-color: green;
}
.circe {
  background-color: blue;
}
.galadriel {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@media (orientation: portrait) {
  #restart-pic {
    height: 12vw;
    width: 12vw;
  }
  #restart {
    font-size: 2vw;
  }
  #counter-box {
    top: 2vw;
    right: 2vw;
    height: 8vw;
    width: 8vw;
    font-size: 1.5vw;
    border-width: 1vw;
  }

  #kitty-paw {
    height: 35vw;
    width: 35vw;
  }
  .myBtn {
    height: 35vw;
    width: 35vw;
    margin: 1vw;
    border-width: 1vw;
  }
  .simon-kitty-pic {
    height: 30vw;
    width: 30vw;
  }
}

@media (orientation: landscape) {
  #restart-pic {
    height: 15vh;
    width: 15vh;

  }
  #restart {
    font-size: 2vh;
  }
  #counter-box {
    top: 3vh;
    right: 3vh;
    height: 11vh;
    width: 11vh;
    font-size: 2.5vh;
    border-width: 1vh;
  }

  #kitty-paw {
    height: 25vh;
    width: 25vh;
  }
  .myBtn {
    height: 25vh;
    width: 25vh;
    margin: 1.5vh;
    border-width: 1vh;
  }
  .simon-kitty-pic {
    height: 20vh;
    width: 20vh;
  }
}