/* used by kitty, main and rate pages - change name to kitty? */

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
/* can't put max-width in * or navbar will stop at 1000 */
body {
  max-width: 1000px;
}

/* .page-color{
  KEEP: managed internally in <style> sections of each page
} */

/* "name" is name and stars, main-header is on main & rate pages*/
#kitty-name,
#main-header {
  /* display: flex;  why don't I need this?*/
  flex-direction: column;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  padding-top: 70px; /* enough to clear navbar  */
}

/* "descripton is image and paragraph"  */
#kitty-description {
  /* margin: 0 20px; can use either margin or padding here*/
  padding: 0 20px;
  font-size: 1.25rem;
}
/* picture of kitty */
.pic-on-pages {
  /* 300x300 for most pages. Shring when page gets narrow */
  max-height: 300px;
  max-width: 300px;
  height: 40vw;
  width: 40vw;

  float: left;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

/* columns toward bottom of page */
#grid-of-traits {
  display: flex;
  margin: 0 20px 10px; /* top sides bottom */
}
/* full column in grid with both header and items boxes */
.col-container {
  flex-direction: column;
  padding: 8px; /* gap between lines under header */
  flex: 1 1 30vw;
}
/* header in grid */
.col-header {
  font-size: 1.55rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 2px;
}
/* bulleted list in grid */
.col-items {
  font-size: 1.25rem;
}

/* only used on MAIN page: "pix" is container with all pics, "pic" is each individual kitty */
#index-kitty-pix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  flex-wrap: wrap;
  /* max-width: 615px; */
}
.index-kitty-pic {
  border-radius: 100%;
  border: 5px solid rgb(16, 0, 240);
  float: right;
  height: 275px;
  width: 275px;
  margin: 10px;
}
#sammy-pic {
  border: black 15pt solid;
  border-radius: 100%;
}

/* Grid toward bottom of page. align in one column when width is small */
@media (max-width: 680px) {
  #grid-of-traits {
    flex-direction: column;
  }
}

/* MAIN page only: pictures of 4 kitties. align centered in one column when width is small */
@media (max-width: 600px) {
  #index-kitty-pix {
    justify-content: center;
  }
}
