* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  max-width: 1000px;
  min-width: 300px;
  height: 100vh;
  background-color: #d6eefd;
}

nav{
  background-color: #d6eefd;
}

.navbar {
  padding: 0;
}

.nav-item {
  font-size: 1.1rem;
}

#main-block {
  text-align: center;
  padding-top: 80px;
}

#main-block>div{
  margin-bottom: 10px;
}

#text-boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.text-box{
  width: 300px;
  margin: 5px;
  resize: none;
  padding: 6px;
  padding-right: 17px;
}
#txtOutput {
  /* background-color: rgb(236, 236, 236); */
  color: black;
}
#txtOutput:focus{
  outline-width: 0;
}
.highlight{
  border: solid 2px rgba(62, 62, 255, 0.886);
}





/*.highlight{  flash blue border to indicate copy */
  /* border: 2px solid blue;
} */

/* fixes odd bug */
/* make the divs holding the text boxes and icons the same size as the textboxes */
.enclosing-div{
  width: 320px;
  height: 168px;
}

.icons{
  height: 15px;
  position: relative;
  top: -170px;
  right: -138px;
}

#blue-arrow {
  height: 40px;
}

@media (max-width: 680px) {
  #text-boxes {
    flex-direction: column;
  }
  #blue-arrow {
    transform: rotate(90deg);
  }

}